/*
0 - 600px:   Phone
600 - 900px:   Tablet Portrait
900 - 1200px:   Tablet Landscape
[1200 - 1800px] is where our normal styles apply
1800px + :   Big Desktop / TV

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- desktop
- tv

1em = 16px
*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 112.5em) {
    html {
      font-size: 75%; } }
  @media (max-width: 87.5em) {
    html {
      font-size: 68.75%; } }
  @media (max-width: 75.625em) {
    html {
      font-size: 62.5%; } }
  @media (max-width: 61.875em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 53.125em) {
    html {
      font-size: 50%; } }
  @media (max-width: 37.5em) {
    html {
      font-size: 37.5%; } }

body {
  box-sizing: border-box;
  padding: 2rem; }
  @media (max-width: 61.875em) {
    body {
      padding: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInTop {
  0% {
    opacity: 0;
    transform: translatey(-5rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #777;
  background-color: #000; }

.heading-primary {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .2rem;
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 3.6rem;
    font-weight: 700;
    letter-spacing: .8rem;
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .5s; }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: .5rem;
        font-size: 3rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    letter-spacing: .6rem;
    text-align: center;
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .5s; }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .5rem;
        font-size: 3rem; } }

.heading-secondary {
  font-family: "Frank Ruhl Libre", serif;
  font-size: 5.5rem;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to bottom, #777, #999);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  @media (max-width: 75.625em) {
    .heading-secondary {
      font-size: 4.6rem; } }
  @media (max-width: 61.875em) {
    .heading-secondary {
      font-size: 4.5rem; } }
  @media (max-width: 53.125em) {
    .heading-secondary {
      font-size: 3.6rem; } }

.btn {
  font-family: "Frank Ruhl Libre", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  letter-spacing: .2rem; }

.about__paragraph {
  color: #fff;
  font-family: "Frank Ruhl Libre", serif;
  font-size: 2.2rem;
  font-weight: 100;
  font-style: normal;
  text-align: right; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.btn, .btn:link, .btn:visited {
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative; }

.btn--white {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0.2rem solid #fff;
  margin: .2rem .6rem; }

.btn--black {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0.2rem solid #fff;
  margin: .2rem .6rem; }

.btn--animated {
  animation: moveInTop .5s ease-out;
  animation-delay: .5s;
  animation-fill-mode: backwards; }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn:hover {
  background-color: #fff;
  color: #000;
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5); }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #F10e00;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all .2s; }

.btn-text:hover {
  background-color: #F10e00;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
  transform: translateY(0); }

.about__photo {
  max-width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: .2rem; }

.gallery__photo {
  max-width: 100%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  border-radius: .2rem; }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  background-color: rgba(247, 247, 247, 0.85);
  border-radius: .6rem;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg) translateY(-2rem);
  transition: all .5s;
  backface-visibility: hidden; }
  @media (max-width: 87.5em) {
    .story {
      width: 90%;
      padding: 4rem;
      padding-left: 7rem; } }
  @media (max-width: 75.625em) {
    .story {
      width: 95%;
      padding: 3.5rem;
      padding-left: 6rem; } }
  @media (max-width: 61.875em) {
    .story {
      width: 100%;
      padding: 3rem;
      padding-left: 5rem;
      transform: skewX(0);
      display: flex; } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    -webkit-shape-outside: circle(50% at 50% 50%);
    clip-path: circle(45% at 50% 50%);
    transform: translateX(-3rem) skewX(12deg);
    position: relative; }
    @media (max-width: 61.875em) {
      .story__shape {
        width: 10rem;
        height: 10rem;
        transform: skewX(0); } }
  .story__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.2);
    transition: all .5s;
    backface-visibility: hidden; }
  .story__text {
    transform: skewX(12deg);
    color: rgba(0, 0, 0, 0.6); }
    @media (max-width: 61.875em) {
      .story__text {
        transform: skewX(0); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    text-transform: uppercase;
    font-size: 2rem;
    text-align: center;
    opacity: 0;
    backface-visibility: hidden;
    transition: all .5s; }
  .story:hover .story__caption {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__img {
    transform: translateX(-4rem) scale(1);
    transition: all .5s;
    filter: blur(0.3rem) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -100;
  opacity: .65; }
  .bg-video__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 1rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: .2rem;
  background-color: rgba(255, 255, 255, 0.6);
  border: none;
  border-bottom: .3rem solid transparent;
  width: 100%;
  display: block;
  text-align: right;
  transition: all .3s; }
  .form__input::-webkit-outer-spin-button, .form__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; }
  @media (max-width: 37.5em) {
    .form__input {
      width: 100%;
      margin-bottom: 1rem; } }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    border-bottom: 0.3rem solid #55c57a; }
  .form__input:focus:invalid {
    border-bottom: 0.3rem solid #ff7730; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 2rem;
  margin-top: .7rem;
  display: block;
  text-align: right;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 40%;
  display: inline-block;
  margin-bottom: 2rem; }
  @media (max-width: 61.875em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 1rem; } }

.form__radio-input {
  display: none; }

.form__radio-label {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
  position: relative;
  padding-left: 4rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 0.5rem solid #777;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.4rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    height: 1.2rem;
    width: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #777;
    opacity: 0;
    transition: all .2s; }

.form__radio-input:checked + .form__radio-label .form__radio-button::after {
  opacity: 1; }

.header {
  height: 95vh;
  background-image: url(../img/hero-rest-cp.png);
  background-size: cover;
  background-position: top;
  position: relative; }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 14rem; }
  .header__text-box {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 61.875em) {
      .row:not(:last-child) {
        margin-bottom: 6rem; } }
  @media (max-width: 61.875em) {
    .row {
      max-width: 50rem;
      padding: 0 3rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media (max-width: 61.875em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media (max-width: 61.875em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem)/2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-3 {
    width: calc(2 * calc((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc((100% - 6rem)/2); }
  .row .col-3-of-4 {
    width: calc(100% - calc((100% - 3 * 6rem) / 4) - 6rem); }

.footer {
  background-color: #000;
  padding: 10rem 0;
  font-size: 1.8rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 2rem; }
  .footer__logo {
    width: 22rem;
    height: auto; }
  .footer__copyright {
    text-decoration: none;
    text-align: left; }
    @media (max-width: 61.875em) {
      .footer__copyright {
        text-align: center; } }
  .footer__navigation {
    text-align: right; }
    @media (max-width: 61.875em) {
      .footer__navigation {
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .2s; }
  .footer__link:hover, .footer__link:active {
    color: #F10e00;
    transform: scale(1.2); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #000;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: #000;
  z-index: 1000; }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link {
  transition: all .2s; }
  .navigation__link:link, .navigation__link:visited, .navigation__link:focus {
    display: inline-block;
    font-size: 3rem;
    font-weight: 300;
    padding: 1rem 2rem;
    color: #fff;
    text-decoration: none;
    border: none;
    text-transform: uppercase; }
  .navigation__link:hover, .navigation__link:active {
    color: #F10e00;
    transform: scale(1.15); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.section-stories {
  perspective: 150rem;
  position: relative;
  padding: 15rem 0; }

.section-employment {
  padding: 15rem 0;
  background-image: #000; }

.employment {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, transparent 50%), url(./img/beer.jpg);
  background-size: cover;
  border-radius: .3rem;
  box-shadow: 0 1.5 4rem rgba(0, 0, 0, 0.2); }
  @media (max-width: 61.875em) {
    .employment {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(./img/beer.jpg);
      background-size: cover; } }
  .employment__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 61.875em) {
      .employment__form {
        width: 65%;
        padding: 4.5rem; } }
